<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- db.properties 경로 설정하기 -->
	<properties resource="mybatis/config/db.properties" />

	<!-- settings -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- typeAliases -->
	<typeAliases>
		<typeAlias alias="Student" type="domain.Student" />
	</typeAliases>

	<!-- 환경 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>

	<!-- mapper 경로 설정하기 -->
	<mappers>
		<mapper resource="mybatis/mapper/student.xml" />
	</mappers>

</configuration>