<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <!-- 잘라냈다가 다시 붙이면 오류 없어짐. -->
  <display-name>01_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  		<servlet-name>ABC</servlet-name>
  		<servlet-class>ex02_urlmapping.HiServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>ABC</servlet-name>
  		<url-pattern>/hi</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>


<!--  이거 내가 쓰는건지.. 자동으로 불러오는건지 .. 물어보기 -->